{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url(static/images/born3-01.jpeg.jpg); align-items: center;">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center">
							   <div class="slider-text">
								   <div class="slider-text-inner">
									   <h1>Contact Us</h1>
										<!-- <p><a class="btn btn-primary btn-demo popup-vimeo" href=""> <i class="icon-play4"></i> Watch Video</a> <a class="btn btn-primary btn-learn">Join us here! <i class="icon-arrow-right3"></i></a></p> -->
										<!-- <p> <a href="{% url 'about' %}" class="btn btn-primary btn-learn">Know more about us! <i class="icon-arrow-right3"></i></a></p> -->
								   </div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			   <li style="background-image: url(static/images/bible4.JPG);">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center">
							   <div class="slider-text">
								   <div class="slider-text-inner">
									<h1>Contact Us</h1>
										<!-- <p> <a href="{% url 'contact' %}" class="btn btn-primary btn-learn">Contact with Us! <i class="icon-arrow-right3"></i></a></p> -->
								   </div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			   <li style="background-image: url(static/images/bibletable.JPG);">
				   <div class="overlay"></div>
				   <div class="container-fluids">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center">
							   <div class="slider-text">
								   <div class="slider-text-inner text-center">
									<h1>Contact Us</h1>
										<!-- <p> <a href="{% url 'notices' %}" class="btn btn-primary btn-learn">See the Messages! <i class="icon-arrow-right3"></i></a></p> -->
								   </div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>

	<div id="fh5co-about">
		<div class="row">
			<!-- <div class="col-md-4">
				<h3>Daily Verse</h3>
				<blockquote class="dailyVerse">
					<p>&ldquo;The LORD [is] my strength and my shield; my heart trusted in him, and I am helped: therefore my heart greatly rejoiceth; and with my song will I praise him.&rdquo;</p>
					<span>Psalms 28:7</span>
				</blockquote>
			</div> -->
			<center><h2 style="font-family: Source Sans Pro, sans-serif">About Born Again Ministries - A Pentecostal Church</h2>
				<h4 style="font-family: Source Sans Pro, sans-serif; line-height: 1.5em; word-spacing: 10px; padding: 30px; letter-spacing: 2px; color: gray;"> Welcome to Born Again Ministries, a vibrant Pentecostal church that stands as a beacon of faith, fellowship, and transformation in Ernakulam we have been a steadfast presence in our community, guiding individuals on their spiritual journey.</h4>
			</center>
			<div class="col-md-4">
				<h3>Our Prayer</h3>
				<p>We pray loving God, that this Pentecost your Holy Spirit may find entrance to many minds that are darkened by prejudice and closed by fear of others. Bring clarity of vision and calmness of mind we pray to all mission workers who serve the genuinely unreached and help them to continue to do mission in Christ's way.</p>
				<p><b>Why do we pray on Pentecost ? </b> For some Protestants, the nine days between Ascension Day, and Pentecost are set aside as a time of fasting and universal prayer in honour of the disciples' time of prayer and unity awaiting the Holy Spirit.</p>
				<h3>History</h3>
				<p>Born Again Ministries, a Pentecostal congregation, was founded on a deep commitment to spreading the message of hope and redemption through the power of the Holy Spirit. Our humble beginnings date back to [Year of Establishment], when a group of dedicated believers came together with a vision to create a place where people could experience a life-changing encounter with God.				</p>
			</div>
			<div class="col-md-4" style="color: black;">
				<h3>Our Mission</h3>
				<p>At Born Again Ministries, as a Pentecostal church, our mission is to lead individuals to a personal relationship with Jesus Christ and empower them with the dynamic presence of the Holy Spirit. We believe in the transformative power of the Holy Spirit's gifts and fruits to equip believers for effective service and living according to God's Word.</p>
				<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p> -->
				<p><h4>What Sets Us Apart? </h4> <b>Ten Commandments ( Especially the Forth commandment ): </b> Our faith centers on the Ten Commandments, with the Fourth Commandment emphasizing a day of rest and worship. In certain traditions, Saturday is observed as the Sabbath day to honor the biblical narrative of God resting on the seventh day after creation. <br>
					<p> <b>Spirit-Filled Worship:</b> Our worship services are marked by the presence of the Holy Spirit. We believe in the manifestation of spiritual gifts, including speaking in tongues, healing, and prophecy, as we seek to encounter God in the beauty of holiness.</p>
					<p> <b>Prayer Timings:</b> Join us for powerful prayer sessions on Saturdays from 10 am to 12:30 pm and on Sundays from 9 am to 11:30 am. These dedicated times of prayer allow us to connect with God and seek His guidance in our lives.</p>
					

				</p>
			</div>
			<div class="col-md-4">
				<p> <b>Bible Classes for Children: </b> Following our Sunday prayer service, we provide engaging and enriching Bible classes for children. We believe in nurturing the spiritual growth of our youngest members and helping them build a strong foundation in faith.</p>
				<p> <b>Strong Community: </b> Born Again Ministries is home to more than five loving and supportive families. Together, we form a close-knit community where members support one another in faith and life's journey.</p>
				<h3>Join Us</h3>
				<p>Whether you're seeking answers, searching for purpose, or looking for a Pentecostal church home, we invite you to join us at Born Again Ministries. Come as you are, and let's discover the transformative power of faith together, empowered by the Holy Spirit. <br><br>

					Feel free to explore our website for more information, and don't hesitate to reach out if you have any questions. We look forward to meeting you and sharing in your spiritual journey. <br><br>
					
					Together, we are born again in Christ, filled with the Holy Spirit, and growing in His grace.</p>
				<!-- <ul class="ministries-list">
					<li><i class="icon-check"></i>Dignissimos asperiores vitae velit</li>
					<li><i class="icon-check"></i>Odit ab aliquam dolor eius.</li>
					<li><i class="icon-check"></i>Asperiores vitae velit veniam totam</li>
					<li><i class="icon-check"></i>Asccusamus alias autem provident</li>
				</ul> -->
			</div>
		</div>
	</div>
	
	
</div><!-- END container-wrap -->

<div class="container-wrap">
	<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3929.3264788754873!2d76.2883159!3d9.9898673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d440088ac81%3A0x89202e85b529694d!2sLisie%20Hospital%20Rd%2C%20Ernakulam%20North%2C%20Kaloor%2C%20Ernakulam%2C%20Kochi%2C%20Kerala!5e0!3m2!1sml!2sin!4v1695285523260!5m2!1sml!2sin" width="1050" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.3697151080632!2d76.28737127448336!3d9.986287490118428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d9460f48657%3A0xbd0732f5b46f23f2!2sBorn%20Again%20Ministries%20Pentacostal%20Church!5e0!3m2!1sml!2sin!4v1698169611539!5m2!1sml!2sin" width="1050" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock %}
