{% load static %}

<!DOCTYPE HTML>
<html>
	<head>

		<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6QRRZR9HWX"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-6QRRZR9HWX');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Born Again Ministries - Saturday sabbath keeping church in Kochi</title>
	<title>Sabbath keeping church in Ernakulam</title>
	<title>Saturday sabbath keeping church in Ernakulam</title>
	<title>Sabbath keeping church in Kochi</title>
	<title>Sabbath keeping Pentacost church in kochi</title>
	<title>Sabbath keeping Pentacost church in Ernakulam</title>
	<title>Sabbath keeping Pentacost church in kochi</title>
	<meta name="description" content="Sabbath keeping church in Ernakulam">
	<meta name="description" content="Saturday sabbath keeping church in Ernakulam">
	<meta name="description" content="Sabbath keeping church in Kochi">
	<meta name="description" content="Sabbath keeping Pentacost church in kochi">
	<meta name="description" content="Sabbath keeping Pentacost church in Ernakulam">
	<meta name="description" content="Sabbath keeping Pentacost church in kochi">
	<meta name="description" content="Saturday sabbath keeping church in Kochi">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content="Saturday sabbath keeping church in Ernakulam"/>
	<meta property="og:description" content="Sabbath keeping church in Ernakulam"/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<meta property="og:url" content="https://borngainministrieskochi.org.in" />


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
	<link rel="canonical" href="https://borngainministrieskochi.org.in" />
	<link rel="icon" href="{% static 'images/pigeon_PNG3418.png' %}" type="image/x-icon">


	<style>
        p {
            color: green;
        }

		.date{
			color: rgb(61, 61, 61);
		}

		/* Track */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

    </style>
	<link rel="icon" type="image/png" href="">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNKGPMGN"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
	<div class="fh5co-loader"></div>
	
	<div id="page" style="color: aliceblue;">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-md-12 col-offset-0 text-center">
						<h1 style="display:none;">sabbath keeping church in kochi</h1>
						<h2 style="display:none;">saturday sabbath keeping church in kochi</h2>
						<h3 style="display:none;">sabbath keeping pentacostal church in kochi</h3>
						<h4 style="display:none;">sabbath keeping church in kochi ernakulam</h4>
						<h5 style="display:none;">saturday sabbath keeping pentacostal church in kochi ernakulam</h5>
						<div id="fh5co-logo"><a id="head-a" href="index.html" style="color: white; font-family: Source Sans Pro, sans-serif; font-weight:600">Born Again Ministries</a><br><p style="color: aliceblue; font-size: 15px; font-family: Source Sans Pro, sans-serif; font-weight:600">PENTECOST CHURCH</p></div>
						<style>
							@media screen and (max-width: 471px) {
								#head-a {
								  font-size: 28px;
								}
							  }
						</style>
					</div>
					<div class="col-md-12 col-md-offset-0 text-center menu-1">
						<ul>
							<li><a href="{% url 'index' %}" style="color: aliceblue;">Home</a></li>							
							<!-- <li><a href="{% url 'events' %}" style="color: aliceblue;">Events</a></li> -->
							<li><a href="{% url 'notices' %}" style="color: aliceblue;">Notices</a></li>
							<li><a href="{% url 'about' %}" style="color: aliceblue;">About Us</a></li>
							<li><a href="{% url 'contact' %}" style="color: aliceblue;">Contact</a></li>
							<!-- <li><a href="" style="color: aliceblue;">News</a></li> -->
							<li class="has-dropdown">
								<a style="color: aliceblue;">Login</a>
								<ul class="dropdown">
									{% if request.user.is_authenticated %}
									<li><a href="{% url 'signout' %}">Logout</a></li>
									{% else %}
									<li><a href="{% url 'signin' %}">Login</a></li>
									{% endif %}	
									<li><a href="{% url 'signup' %}">Register</a></li>
								</ul>
							</li>
							<!-- <li><a href="#" class="donate">Donate</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

    {% block content %}

    {% endblock %}

	<div class="container-wrap">
		<footer style="background: url(static/images/body-bg.png) repeat fixed;" id="fh5co-footer" role="contentinfo">
			<div class="col-md-4 text-center">
				<h3 style="font-family: Source Sans Pro, sans-serif;">Near Lissie Hospital, KRA-78, Kottaikanal East Road, Kochi - 682018.</h3>
			</div>
			<div class="col-md-4 text-center">
				<h2><a href="#">Born Again Ministries</a></h2>
			</div>
			<div class="col-md-4 text-center">
				<p>
					<ul class="fh5co-social-icons">
						<li><a><i class="icon-twitter2"></i></a></li>
						<li><a><i class="icon-facebook2"></i></a></li>
						<li><a><i class="icon-dribbble2"></i></a></li>
					</ul>
				</p>
			</div>
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p style="color: aliceblue;">
						<small class="block">&copy; 2023 . All Rights Reserved.</small> 
						<!-- <small class="block">Designed & developed by <a href="https://www.instagram.com/samuel_c40/" target="_blank">samuelc40</a></small> -->
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>
<!-- 	<script type="text/javascript">
		(function(c,l,a,r,i,t,y){
			c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
			t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
			y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
		})(window, document, "clarity", "script", "jflqygk7zo");
	</script> -->

	</body>
</html>
