{% extends 'base.html' %}

{% load static %}

{% block content %}

	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(static/images/church1-01.jpeg.jpg); align-items: center;">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner">
					   					<h1>Living &amp; Sharing the Gospel of God</h1>
											<!-- <p><a class="btn btn-primary btn-demo popup-vimeo" href=""> <i class="icon-play4"></i> Watch Video</a> <a class="btn btn-primary btn-learn">Join us here! <i class="icon-arrow-right3"></i></a></p> -->
											<p> <a href="{% url 'about' %}" class="btn btn-primary btn-learn">Know more about us! <i class="icon-arrow-right3"></i></a></p>
					   				</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(static/images/pigeon-01.jpeg.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner">
					   					<h1>Tell The World</h1>
											<p> <a href="{% url 'contact' %}" class="btn btn-primary btn-learn">Contact with Us! <i class="icon-arrow-right3"></i></a></p>
					   				</div>
					   			</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(static/images/church2-01.jpeg.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner text-center">
					   					<h1>Know More About Jesus Christ</h1>
											<p> <a href="{% url 'notices' %}" class="btn btn-primary btn-learn">See the Messages! <i class="icon-arrow-right3"></i></a></p>
					   				</div>
					   			</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		
		<div id="fh5co-services" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Timings</h2>
					<p>Our timings are given below</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<div class="img-holder"><img class="img-responsive" src="{% static 'images/prayer1-01.jpeg.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></div>
						<div class="desc">
							<h3>Prayer</h3>
							<p>Saturday: 10.00 am to 12.30 pm</p>
							<p>Sunday: 9.00 am to 11.30 am</p>
							<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<div class="img-holder"><img class="img-responsive" src="{% static 'images/Catechism-01.jpeg.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></div>
						<div class="desc">
							<h3>Bible study for Children - Sunday Class</h3>
							<p>Sunday: 11.30 am to 12.30 am</p>
							<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<div class="img-holder"><img class="img-responsive" src="{% static 'images/holy-wine-01.jpeg.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></div>
						<div class="desc">
							<h3>Lord's Table</h3>
							<p>Every Month's First Sunday</p>
							<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> -->
						</div>
					</div>
				</div>
				<!-- <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-2.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<div id="fh5co-bible-verse">
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="bible-verse-slide active text-center">
									<blockquote>
										<p style="color: aliceblue;">&ldquo;For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.&rdquo;</p>
										<span>John 3:16</span>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="bible-verse-slide active text-center">
									<blockquote>
										<p style="color: aliceblue;">&ldquo;The LORD [is] my strength and my shield; my heart trusted in him, and I am helped: therefore my heart greatly rejoiceth; and with my song will I praise him.&rdquo;</p>
										<span>Psalms 28:7</span>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="bible-verse-slide active text-center">
									<blockquote>
										<p style="color: aliceblue;">&ldquo;And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.&rdquo;</p>
										<span>1 John 4:16</span>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div id="fh5co-news" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our News</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-1.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Live News</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-3.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Biblical Counseling</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-2.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-4.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- END container-wrap -->

    {% endblock %}

