
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url(static/images/church1.jpg);">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center slider-text">
							   <div class="slider-text-inner">
								   <h1>News</h1>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>
	<div id="fh5co-news">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Our News</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-1.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Live News</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-3.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Biblical Counseling</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-4.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Helping Children</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-2.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Helping Children</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-1.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Live News</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-3.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Biblical Counseling</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-2.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Helping Children</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-4.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
					<div class="desc">
						<span class="date">March 30, 2017</span>
						<h3><a href="#">Helping Children</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<a href="#">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-counter" class="fh5co-counters fh5co-light-grey">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<p>We have a fun facts far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="9452" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Members</span>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="214" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Ministries</span>
					</div>
					<div class="clearfix visible-sm-block visible-xs-block"></div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="433" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Classes</span>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="512" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Activities</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END container-wrap -->

{% endblock %}