{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url(images/img_bg_2.jpg);">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center slider-text">
							   <div class="slider-text-inner">
								   <h1>Watch Our Sermons</h1>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>
	<div id="fh5co-sermon">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Our Sermons</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url(images/sermon-1.jpg);">
						<div class="play">
							<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>Soul Winning</h3>
					<span>Pstr. John Doe</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url(images/sermon-3.jpg);">
						<div class="play">
							<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>Message From God</h3>
					<span>Pstr. John Doe</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url(images/sermon-2.jpg);">
						<div class="play">
							<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>Our World Today</h3>
					<span>Pstr. John Doe</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url(images/sermon-1.jpg);">
						<div class="play">
							<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>Soul Winning</h3>
					<span>Pstr. John Doe</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url(images/sermon-3.jpg);">
						<div class="play">
							<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>Message From God</h3>
					<span>Pstr. John Doe</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url(images/sermon-2.jpg);">
						<div class="play">
							<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>Our World Today</h3>
					<span>Pstr. John Doe</span>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-counter" class="fh5co-counters fh5co-light-grey">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<p>We have a fun facts far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="9452" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Members</span>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="214" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Ministries</span>
					</div>
					<div class="clearfix visible-sm-block visible-xs-block"></div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="433" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Classes</span>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="512" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Activities</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END container-wrap -->

{% endblock %}
